@using System.Web.Optimization
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" ng-app="beneficentCare">
<head>
    <title>Beneficent Care at Home</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    @Styles.Render(
        "~/Content/css")
    <base href="/" />
</head>
<body>
<div class="wrapper">
    <header>
        <div id="navigationBar">
            <div id="banner">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-check"></span> Call for more information: 480-628-1451
                        </div>
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-check"></span> Mon-Fri: 8:00AM - 5:00PM
                        </div>
                        <div class="col-md-4">
                            <span class="glyphicon glyphicon-calendar"></span> Make an appointment
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row top-buffer">
                    <div class="col-md-6">
                        <div style="background: url('/Media/Images/logo.png'); background-repeat: no-repeat; width: 100px; height: 100px; background-size: 100px 100px;">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="nav nav-pills nav-justified">
                            <li><a href="#/home" class="a-nav">Home</a></li>
                            <li><a href="#/about" class="a-nav">About Us</a></li>
                            <li class="dropdown">
                                <a href="#/services" class="dropdown-button" href='#' data-activates='dropdown1'>Services <b class="caret"></b></a>
                                <ul id="dropdown1" class="dropdown-content">
                                    <li><a href="#/services/0">Home Care Services</a></li>
                                    <li><a href="#/services/1">Companion Care</a></li>
                                    <li><a href="#/services/2">Personal Care</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="a-nav">Register Now</a></li>
                            <li><a href="#/careers" class="a-nav">Careers</a></li>
                            <li><a href="#/contactus" class="a-nav">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="panel-body">
        <div class="main" ng-view ng-animate></div>
    </div>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/lodash")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/siteJS")
    @Scripts.Render("~/controllers")
    @Scripts.Render("~/services")
</body>
</html>